
$background: (
    header: #efefef,
    main: #f3f3f3,
    site: #1c1c1c,
    footer: #373737, 
    price: #292929, 
    hr: #818181,
);

$fonts: (
    primary-font-color: black, 
    secondary-font-color: white,
    span-color: orange,
);

$fonts-size: (
    h1: 1.5rem,
    h2: 1.2rem,
);
